In [1]:
import numpy as np
import pandas as pd

## Read JSON of pipeline data

In [2]:
df = pd.read_json('./info from WorkStep/candidate_funnel_2022_08.json')

In [3]:
df

,company_id,position_role_type,position_id,date,spend,count_started,count_submitted,count_approved,count_reviewed,count_expired,count_withdrawn,count_deactivated,count_position_closed,count_invited_to_interview,count_hired
0,75621,PRODUCTION,134935318,2022-08-04 00:00:00+00:00,0.000000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75621,PRODUCTION,3102362893,2022-08-04 00:00:00+00:00,0.003965,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75621,PRODUCTION,3102362893,2022-08-15 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,75621,PRODUCTION,7797193831,2022-08-02 00:00:00+00:00,0.000000,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,75621,PRODUCTION,7797193831,2022-08-12 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40930,18738,WAREHOUSE,200792455,2022-08-11 00:00:00+00:00,0.040191,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN
40931,18738,WAREHOUSE,200792455,2022-08-12 00:00:00+00:00,0.046853,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
40932,18738,WAREHOUSE,200792455,2022-08-13 00:00:00+00:00,0.044107,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN
40933,18738,WAREHOUSE,200792455,2022-08-14 00:00:00+00:00,0.044046,7.0,5.0,4.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN
40934,18738,WAREHOUSE,200792455,2022-08-15 00:00:00+00:00,0.044010,3.0,1.0,1.0,4.0,NaN,NaN,NaN,NaN,2.0,1.0